@model Apricot.Database.User;
@{
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}

<style>
    .circle {
        height:60px !important;
        width:60px !important;
        min-height: 60px !important;
        min-width: 60px !important;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background-color: #00B0F0;
    }

    .circle-medium {
        height: 80px !important;
        width: 80px !important;
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 80px;
    }

    .circle-big {
        height:100px !important;
        width: 100px !important;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
    }

    .w-100-calc {
    width: -webkit-calc(100% - 3.8rem);
        width: -moz-calc(100% - 3.8rem);
        width: calc(100% - 3.8rem);
    }

    .circle-small {
        height: 55px;
        width: 55px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        background-color: #00B0F0;
    }

    .logo {
        cursor: pointer;
        position: relative;
        top: 0;
        transition: top ease 0.2s;
    }

    .logo:hover {
        top: -2px;
    }
</style>


<div class="d-flex h-100 overflow-hidden" style="background-color:#1B1C1F;">
    <div class="d-flex flex-column bg-dark pb-2 text-light pt-3 justify-content-center pe-2 ps-2" >
        <div class="d-flex justify-content-center logo" onclick="window.location.reload()">
            <img src="~/Content/round.svg" height="60" width="60" style="--color_fill: #000" />
        </div>
        <hr class="m-2" />
        @foreach(var channel in (ICollection<Apricot.Database.TextChannel>)ViewBag.Channels) {

            Html.RenderPartial("~/Views/Home/_Partial/Contact.cshtml", channel);
                
        }
        <a class="float-end me-auto mt-2 mb-2 btn btn-success  text-light ms-auto d-flex align-items-center justify-content-center circle bg-success  text-decoration-none" style="font-size:14px;" href="@Url.Action("Index")" data-bs-toggle="modal" data-bs-target="#newFriendModal">+</a>

        <a class="float-end mt-auto me-auto ms-auto d-flex align-items-center justify-content-center circle bg-secondary text-light text-decoration-none" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#HelpModal">?</a>
        <a class="float-end me-auto mt-2 btn btn-outline-danger  text-light ms-auto d-flex align-items-center justify-content-center circle bg-transparent text-decoration-none" style="font-size:14px;" href="@Url.Action("Index")">Logout</a>

    </div>

    <div class="row w-100 h-100 overflow-auto" id="main">
        <div class="col-9 gutter-0" id="middle">
            <div class="text-light mt-4 ms-4"><h2>Overview</h2></div>
            <div class="row ms-4 mt-5 me-4">
                <div class="col-4 text-light">
                    <h6>Profile</h6>
                    <hr />
                    <div class="card card-body bg-dark border border-light">
                        <div class="me-4 ms-4 text-center">
                            @if(Model.Picture != null) {
                                <img class="rounded-circle me-auto ms-auto mb-4 " src="~/Content/Pictures/Users/@Model.Picture" height="100" width="100" />

                            }

                            else {
                                <div class="me-auto ms-auto mb-4 d-flex align-items-center justify-content-center circle-big bg-primary"></div>
                            }
                            <h5 >@Model.Nickname#@Model.Tag</h5>
                            <h6 class="mb-5" style="font-weight: normal">@Model.Email</h6>
                            <button class="btn btn-outline-primary mb-2 d-block w-100" data-bs-toggle="modal" data-bs-target="#ModifyModal">Modify</button>
                            <a class="text-primary text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#ResetPasswordModal">Reset Password</a>
                        </div>
                    </div>
                </div>
                <div class="col-8 text-light">                    
                    <h6>Activity</h6>
                    <hr />
                    @foreach (var user in (ICollection<Apricot.Database.User>)ViewBag.Contacts) 
                     {
                        Html.RenderPartial("~/Views/Home/_Partial/Activity.cshtml", user);

                     }

                </div>

            </div>

        </div>
        <div class="col-3 h-100 shadow " style="">
            <div class="text-light mt-4 ms-4 text-center"><h3 class="text-primary">My Spaces</h3></div>
            <hr class="text-light mb-4" />
            <div class=" overflow-auto d-flex flex-column " style="height: 88%">

            @foreach(var space in (ICollection<Apricot.Database.Space>)ViewBag.Spaces)
                {
                Html.RenderPartial("~/Views/Home/_Partial/Space.cshtml", space);



                }

                <div class="mt-auto align-items-center d-flex justify-content-center"><button class="btn btn-outline-success d-block w-100 m-2" data-bs-toggle="modal" data-bs-target="#newRoomModal">+ New Space</button></div>
            </div>

        </div>
    </div>

    
</div>


<div class="modal fade" id="newRoomModal" tabindex="-1" aria-labelledby="newRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="newRoomModalLabel">New Space</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-4 h-50">
                    <div class="card m-1 ">
                        <div class="card-body bg-black rounded text-center  border-secondary">
                            <h5 class="mb-4">Create a new Space</h5>
                            <p class="text-light">Create and customize a space for you and your colleagues</p>
                            <button class="btn btn-primary w-100 d-block text-light" onclick="$('#newRoomModal').modal('toggle'); $('#CreateSpaceModal').modal('toggle');">Create Space</button>
                        </div>
                    </div>

                </div>
                <div class="col-4 h-50">
                    <div class="card m-1 ">
                        <div class="card-body bg-black rounded text-center  border-secondary">
                            <h5 class="mb-4">Join A Random Space</h5>
                            <p class="text-light mb-4">Our system will match you with a space which matches your interests</p>
                            <button class="btn btn-primary mb-3 w-100 d-block text-light">Match Me</button>

                            <p>Or...</p>
                            <button class="btn btn-outline-primary w-100 d-block text-light">Browse Spaces</button>
                        </div>
                    </div>
                </div>
                <div class="col-4 h-50">
                    <div class="card m-1 ">
                        <div class="card-body bg-black rounded text-center  border-secondary">
                            <h5 class="mb-4">Join A Private Space</h5>
                            <p class="text-light mb-4">Do you have an invitation code?</p>
                            <input class="form-control w-100 bg-dark text-light mb-4" placeholder="Invitation Code"/>
                            <button class="btn btn-primary w-100 d-block text-light">Submit</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="newFriendModal" tabindex="-1" aria-labelledby="newFriendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="newFriendModalLabel">New Friend</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <input class="form-control bg-dark mb-3 text-light" placeholder="Enter name and tag [Example#1234]" />
                    <button class="btn btn-primary w-100 d-block   text-light" data-bs-dismiss="modal">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="HelpModalLabel">Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-4">
                How may we help?
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModifyModal" tabindex="-1" aria-labelledby="ModifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="ModifyModalLabel">Modify Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="input-group">
                        <input class="form-control bg-dark mb-3 text-light w-75" placeholder="Nickname" value="@Model.Nickname" />
                        <input class="form-control bg-dark mb-3 text-secondary w-25 text-center" placeholder="Tag" value="#@Model.Tag" disabled />

                    </div>
                    <input class="form-control bg-dark mb-3 text-light" placeholder="Email Address" value="@Model.Email" />
                    <input class="form-control bg-dark mb-3 text-light" placeholder="Phone Number" />
                    <input class="form-control bg-dark mb-3 text-light" placeholder="Status Message" />

                    <button class="btn btn-outline-light mb-4 w-100 d-block">Change Profile Picture</button>


                    <button class="btn btn-primary w-100 d-block text-light" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ResetPasswordModal" tabindex="-1" aria-labelledby="ResetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="ResetPasswordModalLabel">Reset Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <input class="form-control bg-dark mb-3 text-light" placeholder="Old Password" />
                    <input type="password" class="form-control bg-dark mb-3 text-light" placeholder="New Password" />
                    <input type="password" class="form-control bg-dark mb-3 text-light" placeholder="Repeat New Password" />

                    <button class="btn btn-primary w-100 d-block text-light" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="CreateSpaceModal" tabindex="-1" aria-labelledby="CreateSpaceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content bg-dark text-primary">
            <div class="modal-header text-center border-bottom-0">
                <h5 class="modal-title text-center" id="CreateSpaceModalLabel">Create Space</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <input type="text" class="form-control bg-dark mb-3 text-light" placeholder="Space Name" />
                    <textarea class="form-control mb-3  bg-dark text-light" rows="5" placeholder="Description"></textarea>
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-secondary me-1 w-50">Upload Avatar</button>
                        <button class="btn btn-secondary ms-1 w-50">Upload Thumbnail</button>
                    </div>
                    <div class="m-3 ms-1">
                    <div>
                                            <input class="form-check-input" type="checkbox" value="" id="private">
                    <label class="form-check-label" for="private">
                        Private Space
                    </label>
                    </div>
                    <div>
                                            <input class="form-check-input" type="checkbox" value="" id="unlisted">
                    <label class="form-check-label" for="unlisted">
                        Unlisted Space
                    </label>
                    </div>
                    <div>
                        <input class="form-check-input" type="checkbox" value="" id="random">
                        <label class="form-check-label" for="random">
                            Users may join using the Match functionality
                        </label>

                    </div>
                    </div>

                    <button class="btn btn-primary w-100 d-block text-light" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

@section scripts {<script>
    $(document).ready(function () {
        $('#Topics').select2();
    });
</script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

}